*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(siddhanntt.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:right;    
}
#name{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .15rem;
    font-family: Georgia, serif;
    
}

#name span{
    font-size: 4rem;
    font-weight: 600;
    /* color: rgb(198, 36, 36); */
    color: #ff004f;
    
}

.container{
    padding: 10px 10%;
}
nav{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul{
    margin-right: 18rem;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0px;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

#front-infoline{
    padding: 10px 0px;
}

 .header-text{
    margin-top: 20%;
    font-size: 25px;
} 

.header-text h1 span{
    color: #ff004f;

}
/* -----------about------------ */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
   flex-basis: 35%;
   overflow: hidden;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    line-height: 3rem;
}
.about-col-2 p{
    line-height: 1.5rem;
}
.about-col-2 p{
    padding: 30px 0;
}
.tab-titles{
    font-size: large;
    display: flex;
    margin: 20px 0;
}
.tab-links{
     margin-right: 50px;
     font-size: 18px;
     font-weight: 500;
     cursor: pointer;
     position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: 20px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #bd0640;
    font-size: 1rem;
    line-height: 1.5rem;
} 
.tab-contents{
     display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* --------------Projects--------------- */

#Projects{
    padding: 30px 0;
}

.Projects-list{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    overflow: hidden;
}

.Projects-list div{
    overflow: hidden;
    background: #262626;
    padding: 1rem;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    transition: background   0.5s,transform 0.5s;
}

.Projects-list div p{
    line-height: 1.1rem;
}

.Projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    width: 15rem;
}

.Projects-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
 
.Projects-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.Projects-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
    overflow: hidden;
}

/* ------------------My Work----------------- */
#mainn{
    display: flex;
    flex-direction: column;
}

#Portfolio{
    padding: 50px 0;
}
 .work-list{ 
    display: flex;
     grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    grid-gap: 40px; 
    margin-top: 50px;
    align-items: space-around; 
    justify-content: space-around;
    
}
 

 .work-list {
    display: flex;
    flex-wrap: wrap; /* Adjusted to wrap items to the next line */
    gap: 40px; 
    margin-top: 50px;
    justify-content: space-around; /* Adjusted to space around */
}
 /* .work{ 
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 50rem;
}  */
.work {
    /* border: 2px solid  #ff004f; */
    color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 20rem; /* Set a fixed height in pixels or any other unit you prefer */
    width: 18rem;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;   
    height: 12rem;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);

}

.work:hover .layer{
    height: 100%;

}

.btn{
    display: inline block;
    margin: 5rem auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background-color: #ff004f;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}

/* ---------------contact------------------------ */
.container{
    width: 100%;
}

.row{
    display: flex;
    /* background-color: pink; */
    justify-content: space-around;
}
.contact-left{
    /* flex-basis: 35%; */
    display: flex;
    flex-direction: column;
    align-items: start;
    /* background-color: red; */
}

.contact-right{
    flex-basis: 60%;
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-end;
    padding: 0rem 3rem;
}

.contact-left p{
    margin-top: 30px;

}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

#resume{
    display: flex;
    align-items: flex-start;

}

.btnn{
    margin-top: 5rem;
}

.btn .btn2{
    /* display: inline-block; */
    background: #ff004f;
}

.contact-right form{
    width: 70%;
}

form input,form textarea{
    display: flex;
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 10px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

form .btn2{
    /* padding: 14px 50px; */
    font-size: 18px;
    /* margin-top: 20px; */
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px; 
}

/* ------------CSS for small screens------------ */

nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 150%;
        font-size: 1.5rem;
    }
    .header-text h1{
        font-size: 2rem;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background-color: #ff004f;
        position: absolute;
        top: 0;
        right: -90%;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }
    .contact-left{
        /* flex-basis: 35%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: red; */
    }
    .contact-right{
        flex-basis: 70%;
        /* background-color: yellow; */
        display: flex;
        justify-content: center;
        padding: 0rem 3rem;
    }
    .contact-right form{
        width: 100%;
    
    }
    form button{
        display: block;
        align-self: center;
    }
    nav ul{
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 1400px){
   /* #header{
        
    }*/

    .header{
        background-size: cover;
    }
    .header-text{
        margin-top: 120%;
        font-size: 2rem;
    }
    .header-text h1{
        font-size: 3rem;
    }



    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background-color: #ff004f;
        position: absolute;
        top: 0;
        right: -90%;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }
    .contact-left{
        /* flex-basis: 35%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: red; */
    }
    .contact-right{
        flex-basis: 70%;
        /* background-color: yellow; */
        display: flex;
        justify-content: center;
        padding: 0rem 3rem;
    }
    .contact-right form{
        width: 100%;
    
    }
    form button{
        display: block;
        align-self: center;
    }
    nav ul{
        display: none;
    }
}


#msg{
    color: #61b752;
    margin-top: -10px;
    display: block;
}
